
*.pyc
chapters/kapitel5/notebooks/.ipynb_checkpoints/Introduction to NumPy - eng-checkpoint.ipynb
chapters/kapitel4/notebook/.ipynb_checkpoints/Builtin functions-checkpoint.ipynb
chapters/kapitel4/examples/.vscode/settings.json
chapters/kapitel7/notebook/.ipynb_checkpoints/Classes-eng-checkpoint.ipynb
chapters/kapitel7/notebook/.ipynb_checkpoints/Classes-checkpoint.ipynb
